/*my account settings*/

.account-setting {
    padding: 20px 30px;
}

.account-setting .password {
    width: 50%;
}

.account-setting .changed-date {
    width: 50%;
    text-align: end;
}

.account-setting .password p {
    font-size: 20px;
    margin-bottom: 0px;
}

.account-setting .changed-date p {
    font-size: 14px;
    color: #000000;
    font-weight: normal;
    margin-bottom: 5px;
}

.password-row {
    border-bottom: 3px solid #ffe843;
    margin-bottom: 15px;
}

.form-input-field input {
    border: 1.5px solid #000000;
    border-radius: 0;
}

.form-input-field input::placeholder {
    font-size: 16px;
    color: #979797;
}

.current-pass {
    margin-top: 10px;
    margin-bottom: 40px;
}

.form-input-field small {
    padding-top: 10px;
}

.form-input-field small img {
    margin-right: 5px;
}

button.btn.save_button {
    background: transparent;
    font-size: 16px;
    color: #ff5f31;
}

button.btn.save_button img {
    margin-right: 10px;
    width: 35px;
}
.del-my-account-wrap {
    border-top: 1px solid #979797;
    margin-top: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.del-my-account p {
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
}
.del-my-account p:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 29%;
    height: 3px;
    background: #ffe843;
}
button.del-btn {
    background: #ff5f31;
    border: 0;
    border-radius: 29px;
    width: 190px;
    height: 48px;
    color: white;
}

/*end my account settings*/

/*my order*/

.accordion__title {
    cursor: pointer;
    margin: 0;
    position: relative;
}

.accordion__icon {
    position: absolute;
    top: 10px;
    right: 24px;
}

.accordion__icon .line-01,
.accordion__icon .line-02 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    background-color: #272343;
    transition: 0.3s;
}

.accordion__icon .line-02 {
    transform: rotate(90deg);
}

.accordion__content {
    display: none;
}

.accordion--open .line-02 {
    transform: rotate(0deg);
}

.accordion {
    margin-top: 15px;
    border-bottom: 1px solid #00000080;
}

.accordion__title {
    font-size: 20px;
    transition: 0.2s;
}

.accordion__content {
    padding-bottom: 16px;
    border-bottom: 1px solid #cab6b6;
}

.accordion__content p {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 400;
}

.accordion__title:hover span {
    color: #58b5ff;
}

.accordion__title:hover .line-01,
.accordion__title:hover .line-02 {
}

.accordion--open .accordion__title span {
    color: #58b5ff;
}

.order-title {
    width: 50%;
}
.order-date {
    width: 50%;
    text-align: center;
}
.product-type {
    margin-bottom: 25px;
}
.product-price p {
    font-weight: 900;
    margin-top: 25px;
}
.billing-adress {
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #00000080;
}
.cart-title {
    font-family: "Usual Bold", Arial, "Helvetica Neue", sans-serif;
    font-size: 30px;
    line-height: 48px;
}
.delivery-adress {
    border-bottom: 1px solid #00000080;
}
.billing-adress p {
    line-height: 20px;
}
.total-price {
    margin-top: 20px;
}
.total-price p {
    font-family: "Usual Bold", Arial, "Helvetica Neue", sans-serif;
    font-size: 26px;
    line-height: 48px;
    font-weight: 700;
}
@media (max-width: 499px) {
    .account-setting {
        padding: 20px 10px;
    }
    .accordion__content .product-image img {
        width: 100%;
        height: auto;
    }
    .accordion__title {
        margin-bottom: 14px;
    }
}
